<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Systemname" value="SQUIREIP-6"/>
    <add key="IPSWPROJECT" value="Allura_Main_IPSW_PreInt"/>
    <add key="Project" value="Tiger"/>
  </appSettings>
</configuration>